%h4 コメントを書く

.new-comments
  = form_for comment do |f|
    .field
      = f.hidden_field :user_id
      = f.hidden_field :video_id
      = f.text_field :body
    .action
      = f.submit "post"

.view-comments
  - video.comments.order("id desc").each do |c|
    - if c.body
      .comment-view
        = link_to c.user.name, c.user
      .comment-body
        = c.body
      .comment-action
        = link_to 'Destroy', c, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %br
%br
