%ul.nav.navbar-nav.navbar-fluid
  %li.home
    = link_to "ホーム", home_user_path
  %li.videos
    = link_to "動画", videos_user_path
  %li.playlists
    = link_to "再生リスト", playlists_user_path
  %li.subscriptions
    = link_to "チャンネル", channels_user_path
  %li.description
    = link_to "概要", description_user_path
