%p#notice= notice

%p
  = render partial: "my_menu", locals: {user: @user}

%p
  %b User:
  = @user.name
  .channels-container
    %ul
      %li
        - @user.my_favorite_channels.each do |channel|
          .channel-information
            = link_to channel.name, channel_path(channel)
            %br
            = image_tag channel.videos.first.uri_url(:thumb)
