%p#notice= notice

%p
  = content_for(:submenu) do
    %ul
      %li
        = link_to "home", home_user_path(@user)
      %li
        = link_to "videos", videos_user_path(@user)
      %li
        = link_to "playlists", playlists_user_path(@user)
      %li
        = link_to "channels", channels_user_path(@user)
      %li
        = link_to "descriptions", description_user_path(@user)


%p
  %b Name:
  = @user.name
  .channels-container
    %ul
      %li
        - @user.my_favorite_channels.each do |channel|
          .channel-information
            = link_to channel.name, channel_path(channel)
            %br
            = image_tag channel.videos.first.uri_url(:thumb)
