%p#notice= notice

%p
  = render partial: "my_menu", locals: {user: @user}

%p
  %b Name:
  = @user.name
  .playlists-container
    .see-later
      = raw render_playlist_link("See later", @see_lateres)
    .favorite
      = raw render_playlist_link("favorites", @favorites)
    .my-playlist
      = raw render_playlist_link("my playlists", @custom_playlists)
    .likes
      = raw render_reputation_link("likes", @likes)
