%p#notice= notice

%p
  = render partial: "my_menu", locals: {user: @user}

%p
  %b Name:
  = @user.name
  .playlists-container
    .see-later
      = render_playlist_link("後で見る", Playlist.get_see_later(@user))
    .favorite
      = render_playlist_link("お気に入り", Playlist.get_favorites(@user))
    .my-playlist
      = render_playlist_link("マイプレイリスト", Playlist.get_custom_playlists(@user))
    .likes
      = render_reputation_link("高く評価した動画", @user.like_videos)
