%p#notice= notice
.user-container
  .row.channel-info
    .covor-image
      = image_tag @user.gravatar_url, class: "channel-image"
    .channel-name
      %h3 #{ @user.channels.current_channel.name }
  .row.playlists
    %h3 作成した再生リスト
    = custom_playlists_links_to @user.playlists.custom_list
  .row.my-videos
    %h3 アップロードした動画
    = videos_link_to @user.videos
  .row.high-reputated-videos
    %h3 高く評価した動画
    = videos_link_to @user.playlists.like.videos
  .row.subscribed-channel
    %h3 登録チャンネル
    - @user.subscriptions.each do |subscription|
      .image-link
        = link_to image_tag(subscription.channel.videos.first.uri_url(:thumb), size: "128x72"), subscription.channel
      .name-link
        = link_to subscription.channel.name, subscription.channel
