.video-list
  - videos.each do |video|
    %ul.list-inline
      %li
        .thumbnail
          = link_to image_tag(video.uri_url(:thumb)), video
        .information
          .title
            = link_to video.title, video
          .author
            作者
            = link_to video.channel.name, channel_path(video.channel)
          .view-count
            視聴回数
            = video.view_count
            *
            = Time.at(Time.now - video.created_at.localtime).gmtime.strftime("%H:%M:%S")
