%p#notice= notice
.page-container
  .watch-container
    .contents
      =video_tag @video.uri, controls:true, size: "640x480"

    .information
      %b=@video.title
    %br

    .channel
      .channel-icon
      .channel-information
        %b=@video.channel.name
        .channel-action
          - action = channel_subscribe_action_param(@video, current_user)
          = form_tag register_channel_path(@video.channel), method: :post do
            = hidden_field_tag 'register',action[:value]
            = submit_tag action[:text]
            
      .interactions
        %b 視聴回数:
        =@video.rating.interactions

    .playlist
      .add-plylist-action
        .button
          .icon
            = image_tag 'ic_add_black_24dp_1x.png'
          .button
            = link_to "add", playlists_path(video:@video), remote: true, query: @video_id
        .button
          .icon
            = image_tag 'ic_share_black_24dp_1x.png'
          .button
            = link_to "share", playlists_path, remote: true, query: @video.id
        .button
          .icon
            = image_tag 'ic_more_horiz_black_24dp_1x.png'
          .button
            = link_to "other...", playlists_path, remote: true

      .reputate-action-button
        = render partial: "reputations/reputation", locals: {video: @video}

    .floating-playlist-add-action-container

    .comments
      = render partial: "comments/index", locals: {video: @video}

  .candidate-container
    .contents
      = render partial: "candidates", locals: {videos: Video.all}
