.page.container
  .watch.col-md-8
    .row.screen
      =video_tag @video.uri, controls:true, size:"730x408"
    .channel-border
      .row.video-title
        %h2 #{@video.title}
      .row.channel
        .symbol.col-md-1.glyphicon.glyphicon-film
        .operation.col-md-5
          .name
            = link_to @video.channel.name, channel_path(@video.channel)
          .row.subscribe-action
            %small
              .action.col-md-8.col-xd-10.col-xs-12.glyphicon.glyphicon-play
                - subscription = current_user.subscriptions.where(channel: @video.channel).first
                - if subscription
                  %b= link_to "チャンネル登録を解除する", user_subscription_path(subscription), method: :delete, data:{confirm: "本当に解除しますか?"}
                - else
                  %b= link_to "チャンネル登録", user_subscriptions_path(channel: @video.channel), method: :post
              .subscribe-count.col-md-4
                #{@video.channel.subscriptions.count}
        .view-count-container.col-md-2.col-md-offset-3
          .empty
          .view-count
            #{@video.view_count}

      .row.playlist
        .add.col-md-2.glyphicon.glyphicon-plus
          追加
        .share.col-md-2.glyphicon.glyphicon-share
          = link_to "共有", user_playlists_path, remote: true, query: @video
        .other.glyphicon.col-md-2.glyphicon-option-horizontal
          = link_to "その他", user_playlists_path, remote: true
        .like.col-md-2.col-md-offset-2.glyphicon.glyphicon-thumbs-up
          %small 000,000
        .dislike.col-md-2.glyphicon.glyphicon-thumbs-down
          %small 000,000

      .floating-playlist-add
        - current_user.playlists.each do |playlist|
          .name.pull-left
            = playlist.name
          .button
            - playlist_relation = playlist.playlist_video_relations.build(video: @video)
            = link_to "追加", video_playlist_video_relation_index_path(@video, playlist), remote: true
        .new-action
          = form_for current_user.playlists.build, url: user_playlist_path, remote: true do |f|
            .field
              = f.text_field :name
            .action
              = f.submit "作成"

    .comments
      %small すべてのコメント (#{@video.comments.length})
      .new-comment
        = form_for @video.comments.build, url: video_comments_path(@video) do |f|
          .field
            = f.hidden_field :user_id
            = f.hidden_field :video_id
            = f.text_field :body, "placeholder":"公開コメントを追加"
          .action
            = f.submit "post"

      .view-comments
        - @video.comments.order("id desc").each do |c|
          - if c.body
            .comment-view
              = link_to c.user.name, c.user
            .comment-body
              = c.body
            .comment-action
              = link_to 'Destroy', c, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .candidates.col-md-4
    = render "candidates", videos: Video.recommends
