%p#notice= notice
.container
  .main-screen.col-md-10
    =video_tag @video.uri, controls:true, size: "640x480"
    .video-title
      %b= @video.title
    .channel
      .channel-icon
        .glyphicon.glyphicon-film
      .channel-information
        %b= @video.channel.name
        .channel-action
          - action = channel_subscribe_action_param(@video, current_user)
          = form_tag register_channel_path(@video.channel), method: :post do
            = hidden_field_tag 'subscribe',action[:value]
            = submit_tag action[:text]

      .playlist
        %ul.nav.navbar-nav.navbar-right
          %li
            = @video.view_count
            
        %ul.nav.navbar-nav
          %li
            .glyphicon.glyphicon-plus
              = link_to "add", playlists_path(video:@video), remote: true, query: @video_id
          %li
            .glyphicon.glyphicon-share
              = link_to "share", playlists_path, remote: true, query: @video.id
          %li
            .glyphicon.glyphicon-option-horizontal
              = link_to "other...", playlists_path, remote: true

      .reputate
        .like
          .glyphicon.glyphicon-thumbs-up
        .dislike
          .glyphicon.glyphicon-thumbs-down
      .floating-playlist-add-action-container

      .comments
        コメントを書く
        .new-comment
          = form_for @video.comments.build, url: video_comments_path(@video) do |f|
            .field
              = f.hidden_field :user_id
              = f.hidden_field :video_id
              = f.text_field :body
            .action
              = f.submit "post"

        .view-comments
          - @video.comments.order("id desc").each do |c|
            - if c.body
              .comment-view
                = link_to c.user.name, c.user
              .comment-body
                = c.body
              .comment-action
                = link_to 'Destroy', c, :method => :delete, :data => { :confirm => 'Are you sure?' }

  .candidate.col-md-2
    .contents
      = render "candidates", videos: Video.recommends
