#like.button
  = image_tag("like.png")
  - if video.reputations.where(user_id: current_user, status: Reputation.statuses[:like]).exists?
    = button_to "cancel_like", reputate_video_path(video), params: { status: 0 }
  - else
    = button_to "like", reputate_video_path(video), params: { status: 1 }
  .counts
    = video.rating.likes

#dislike.button
  = image_tag("dislike.png")
  - if video.reputations.where(user_id: current_user, status: Reputation.statuses[:dislike]).exists?
    = button_to "cancel_dislike", reputate_video_path(video), params: { status: 0 }
  - else
    = button_to "dislike", reputate_video_path(video), params: { status: 2 }
  .counts
    = video.rating.dislikes
