!!!5
%html
%head
  %title Toutube
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body

%header
  %nav.nav
    .container-fluid
      %ul.video-menu.nav.navbar-nav
        %li.button-icon
          = button_tag class: "toggle-side-menu btn navbar-btn btn-default" do
            %span.glyphicon.glyphicon-align-justify
        %li.logo-top-link
          = link_to "dfadsfdsafads", videos_path, class: "home-button"
        %li.search
          = form_tag search_videos_path, method: :get do
            = text_field_tag 'search_keyword'
            = button_tag class: "search-button btn navbar-btn btn-default" do
              %i.glyphicon.glyphicon-search
      %ul.user-menu.nav.navbar-nav.navbar-right
        %li.upload
          = link_to "アップロード", new_video_path
        %li.signup
          = link_to 'サインアップ', signup_path
        %li.login
          - if current_user
            .user-container
              .user-icon #{current_user.name}
          -else
            = link_to 'ログイン', login_path
          .user-description
            - if current_user
              .email #{current_user.email}
              - current_user.channels.each do |channel|
                .channel
                  = link_to display_channel_name(channel), channel_path(channel), method: :post
              .logout
                = link_to 'ログアウト', logout_path, method: :delete

.body
  .container-fluid
    .left-side-menu.col-md-2
      - unless current_user
        %nav.navbar
          %ul.nav.nav-stacked
            %li.home
              .glyphicon.glyphicon-home
              %span ホーム

          .category
            BEST OF ITOTUBE

          %ul.nav.navbar-stacked
            %li.popularity
              .glyphicon.glyphicon-star-empty
              %span ito-tubeで人気
            %li.allchannnels
              .glyphicon.glyphicon-plus-sign
              %span チャンネル一覧
            %li.login
              = link_to 'ログイン', login_path, class:"btn-xs btn-primary"
      - else
        %nav.navbar
          %ul.nav.nav-stacked
            %li.home
              .glyphicon.glyphicon-home
              %span ホーム
            %li.mychannel
              .glyphicon.glyphicon-user
              %span マイチャンネル
            %li.subscriptions
              .glyphicon.glyphicon-inbox
              %span 登録チャンネル
            %li.history
              .glyphicon.glyphicon-hourglass
              %span 履歴
            %li.later
              .glyphicon.glyphicon-dashboard
              %span 後で見る

          .playlist
            再生リスト
          %ul.nav.nav-stacked
            - current_user.playlists.each do |playlist|
              - if playlist.like?
                %li.playlist-likes
                  .glyphicon.glyphicon-thumbs-up
                  %span 高く評価した動画
              - else
                %li.playlist-other
                  .glyphicon.glyphicon-menu-hamburger
                  %span #{playlist.name}

          .subscriptions
            登録チャンネル

          %ul.nav.nav-stacked
            - current_user.subscriptions.each do |channel|
              %li.channel-subscriptions
                .channel
                  %span #{channel.name}

          %ul.nav.navbar-stacked
            %li.allchannnels
              .glyphicon.glyphicon-plus-sign
              %span チャンネル一覧
            %li.management_subscriptions
              .glyphicon.glyphicon-cog
              %span 登録リストを管理

    .contents.container-fluid
      = yield
