!!!5
%html
%head
  %title Toutube
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
%body

%nav.navbar.navbar-default
  .top-bar.container-fluid
    .logo.col-md-2.col-md-offset-0.side-bar-toggle
      .menu.glyphicon.glyphicon-align-justify
        = link_to "t-tube", videos_path
    .search.col-md-6.action
      = form_tag search_videos_path, method: :get do
        = text_field_tag 'search_keyword'
        = button_tag class: "btn btn-default", name:"aaa", value:"bbb" do
          %i.glyphicon.glyphicon-search
    .user.col-md-4
      .upload.pull-right.action
        = button_to "アップロード",new_video_path, method: :get
      .signup.pull-right.action
        = button_to 'サインアップ', signup_path, method: :get
      .user-menu.pull-right
        - if current_user
          .icon.glyphicon.glyphicon-user
          .user-description
            .email
              = current_user.email
            - current_user.channels.each do |channel|
              .channel
                = link_to display_channel_name(channel), channel_path(channel), method: :post
            .logout.action
              = button_to 'ログアウト', logout_path, method: :delete
        - else
          .login.action
            = button_to 'ログイン', login_path, method: :get

.main-container.container-fluid
  .side-bar.col-md-2
    %nav.side-bar.nav.nav-pilles.nav-stacked
      %ul
        %li
          = link_to "Home", videos_path
        - if current_user
          %li
            = link_to "My Channel", user_path
          %li
            = link_to "登録チャンネル", subscriptions_user_path
          %li
            = link_to "History", channel_path(current_user), data: {view: "history"}
          %li
            =link_to "See later", channel_path(current_user.channels.current_channel), data: {view: "see lator"}
  .contents.col-md-10
    = yield(:submenu)
    = yield
